# Python
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE
.idea/

# Orbit
cache/*
!cache/.gitkeep
config/google_credentials.json
config/google_token_*.json
config/orbit.json

# Logs
*.log